<div class="row hidden-xs button-container">
  <div class="col-md-3 col-sm-3 col-lg-3 text-center">
    <a  ng-class="{ active: isActive('/Who-We-Are')}" href="#/Who-We-Are" class="">Who We Are</a>
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3 text-center">
    <a  ng-class="{ active: isActive('/Specializations')}" href="#/Specializations" class="">Specializations</a>
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3 text-center">
    <a  ng-class="{'selected' : about.selected === 2}" href class="">Where Are We?</a>
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3 text-center">
    <a ng-class="{ active: isActive('/Contact-Us')}" href="#/Contact-Us" class="">Contact Us</a>
  </div>
</div>
